%h1 Listing examples

%table
  %tr
    %th Content
    %th Name
    %th Content
    %th
    %th
    %th

  - @examples.each do |example|
    %tr
      %td= example.content_id
      %td= example.name
      %td= example.content
      %td= link_to 'Show', example
      %td= link_to 'Edit', edit_example_path(example)
      %td= link_to 'Destroy', example, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Example', new_example_path
